@use './variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    color: $color-text-dark;
    background-color: $color-bg-light;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $color-secondary;
    border-radius: 4px;
}